body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('persofond.png') no-repeat center top fixed;
    background-size: 100%;
    color: white;
    position: relative;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

header {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
}

#logo {
    height: 50px;
    margin-right: 20px;
}

nav {
    position: relative;
}

nav a {
    color: red;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    text-decoration: underline;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 150px;
    top: 100%;
    left: 0;
    z-index: 1;
}

.dropdown-content a {
    color: red;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-weight: normal;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: darkred;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: white;
    margin-top: 50px;
}

.character-info {
    padding: 50px;
    text-align: left;
    max-width: 1000px;
    margin: auto;
    background-color: transparent;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.character-details {
    text-align: left;
}



.character-image:hover {
    transform: scale(1.1);
}
